@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
}

header::before {
    content: "";
    background: url("car2.png") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

nav {
    background-color: #242429;
    height: 100px;
    color: white;
    display: flex;
    font-family: "Poppins", sans-serif;
}

.f1-logo {
    width: 217px;
    height: 216px;
    position: relative;
    bottom: 57px;
}

.navLists {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 200;
    margin-left: 100px;
}

.navLists li {
    margin: auto 40px;
    cursor: pointer;
    padding-top: 28px;
    padding-bottom: 28px;
}

.navLists .themes:hover,
.drivers:hover,
.interestingFacts:hover {
    background-color: white;
    color: red;
}

.f1Flag {
    height: 96px;
    width: 200px;
    margin-left: 350px;
}

.dropdown-Themes {
    font-size: 1.4rem;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.dropdown-Themes li {
    height: 100px;
    width: 310px;
    margin: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-top-right-radius: 10px;
}

.dropdown-Themes li:hover {
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-top-right-radius: 16px;
}

.dropdown-Themes img {
    height: 60px;
    width: 60px;
    margin-left: 80px;

}

.themes {
    cursor: pointer;
}

.dropdown-content-themes {
    display: block;
    position: absolute;
    top: 100px;
    left: 0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: auto 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease;
}

.themes:hover .dropdown-content-themes {
    display: block;
    opacity: 1;
    visibility: visible;
}

.dropdown-drivers {
    font-size: 1.4rem;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #242429;
    color: white;
}

.dropdown-drivers li {
    height: 40px;
    width: 310px;
    margin: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-bottom-right-radius: 10px;
}

.dropdown-drivers li:hover {
    border-bottom-right-radius: 16px;
}

.drivers {
    cursor: pointer;
}

.dropdown-content-drivers {
    display: block;
    position: absolute;
    top: 100px;
    left: 0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: auto 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease;
}

.drivers:hover .dropdown-content-drivers {
    display: block;
    opacity: 1;
    visibility: visible;
}

.dropdown-drivers li div{
    height: 25px;
    width: 8px;
    position: relative;
    right: 15px;
}

#driver-1 div{
    background-color: #64C4FF;
}

#driver-1:hover {
    border-bottom: 4px solid #64C4FF;
    border-right: 4px solid #64C4FF;
    border-bottom-right-radius: 16px;
}

#driver-2 div{
    background-color: #229971;
}

#driver-2:hover {
    border-bottom: 4px solid #229971;
    border-right: 4px solid #229971;
    border-bottom-right-radius: 16px;
}

#driver-3 div{
    background-color: #52E252;
}

#driver-3:hover {
    border-bottom: 4px solid #52E252;
    border-right: 4px solid #52E252;
    border-bottom-right-radius: 16px;
}

#driver-4 div{
    background-color: #0093CC;
}

#driver-4:hover {
    border-bottom: 4px solid #0093CC;
    border-right: 4px solid #0093CC;
    border-bottom-right-radius: 16px;
}

#driver-5 div{
    background-color: #27F4D2;
}

#driver-5:hover {
    border-bottom: 4px solid #27F4D2;
    border-right: 4px solid #27F4D2;
    border-bottom-right-radius: 16px;
}

#driver-6 div{
    background-color: #B6BABD;
}

#driver-6:hover {
    border-bottom: 4px solid #B6BABD;
    border-right: 4px solid #B6BABD;
    border-bottom-right-radius: 16px;
}

#driver-7 div{
    background-color: #E80020;
}

#driver-7:hover {
    border-bottom: 4px solid #E80020;
    border-right: 4px solid #E80020;
    border-bottom-right-radius: 16px;
}

#driver-8 div{
    background-color: #B6BABD;
}

#driver-8:hover {
    border-bottom: 4px solid #B6BABD;
    border-right: 4px solid #B6BABD;
    border-bottom-right-radius: 16px;
}

#driver-9 div{
    background-color: #FF8000;
}

#driver-9:hover {
    border-bottom: 4px solid #FF8000;
    border-right: 4px solid #FF8000;
    border-bottom-right-radius: 16px;
}

#driver-10 div{
    background-color: #0093CC;
}

#driver-10:hover {
    border-bottom: 4px solid #0093CC;
    border-right: 4px solid #0093CC;
    border-bottom-right-radius: 16px;
}

#driver-11 div{
    background-color: #3671C6;
}

#driver-11:hover {
    border-bottom: 4px solid #3671C6;
    border-right: 4px solid #3671C6;
    border-bottom-right-radius: 16px;
}

#driver-12 div{
    background-color: #FF8000;
}

#driver-12:hover {
    border-bottom: 4px solid #FF8000;
    border-right: 4px solid #FF8000;
    border-bottom-right-radius: 16px;
}

#driver-13 div{
    background-color: #64C4FF;
}

#driver-13:hover {
    border-bottom: 4px solid #64C4FF;
    border-right: 4px solid #64C4FF;
    border-bottom-right-radius: 16px;
}

#driver-14 div{
    background-color: #27F4D2;
}

#driver-14:hover {
    border-bottom: 4px solid #27F4D2;
    border-right: 4px solid #27F4D2;
    border-bottom-right-radius: 16px;
}

#driver-15 div{
    background-color: #E80020;
}

#driver-15:hover {
    border-bottom: 4px solid #E80020;
    border-right: 4px solid #E80020;
    border-bottom-right-radius: 16px;
}

#driver-16 div{
    background-color: #64C4FF;
}

#driver-16:hover {
    border-bottom: 4px solid #64C4FF;
    border-right: 4px solid #64C4FF;
    border-bottom-right-radius: 16px;
}

#driver-17 div{
    background-color: #229971;
}

#driver-17:hover {
    border-bottom: 4px solid #229971;
    border-right: 4px solid #229971;
    border-bottom-right-radius: 16px;
}

#driver-18 div{
    background-color: #64C4FF;
}

#driver-18:hover {
    border-bottom: 4px solid #64C4FF;
    border-right: 4px solid #64C4FF;
    border-bottom-right-radius: 16px;
}

#driver-19 div{
    background-color: #3671C6;
}

#driver-19:hover {
    border-bottom: 4px solid #3671C6;
    border-right: 4px solid #3671C6;
    border-bottom-right-radius: 16px;
}

#driver-20 div{
    background-color: #52E252;
}

#driver-20:hover {
    border-bottom: 4px solid #52E252;
    border-right: 4px solid #52E252;
    border-bottom-right-radius: 16px;
}

/* Game content */
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.5rem;
    border: 6px dashed black;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3),inset 0 0 1rem rgba(152, 169, 28, 0.9);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #fff;
    cursor: grab;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.65rem;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.9);
    margin-bottom: 40px;
}

#new-btn{
    padding: 1rem;
    font-size: 1.65rem;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.9);
    margin-top: 40px;
}

#h1-main{
    color: white;
    font-size: 3.2rem;
}

#msg{
    color: #fff;
    font-size: 10vmin;
    padding: 40px;
    text-shadow: 0 0 0.3rem rgba(247, 3, 11, 0.9);
}

.message-container{
    height: 30vmin;
}

.hide{
    display: none;
}